:root {
  --main-color: #318793;
  --erp-color: #10555f;
  --vice-color: #333;
  --services-color: #2e74b5;
  --clients-color: #98189c;
}

body, input, button, select, textarea {
    font-family: "Helvetica Neue", Helvetica,Arial, "Microsoft JhengHei", "Microsoft YaHei", Meiryo, "Meiryo UI", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    margin-bottom: 40px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

a:hover,
a:active {
    color: #0270e6;
}

a.line,
a.facebook {
    margin: 0px;
    font-size: 34px;
}

a.line:link,
a.line:visited,
a.line:hover,
a.line:active {
    text-decoration: none;
    color: #48a748;
}

a.facebook:link,
a.facebook:visited,
a.facebook:hover,
a.facebook:active {
    text-decoration: none;
    color: #0866ff;
}

footer {
    color: #fff;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    background-color: #2e2e2e;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
    color: #eee;
    text-decoration: none;
}

footer a:hover,
footer a:active {
    color: #f0cf0e;
}

footer h4 {
    color: #c0c0c0;
    margin: 10px 0;
}

footer hr {
    border: none;
    height: 1px;
    width: 50%;
    margin: auto;
    color: #eee;
    background-color: #eee;
}

footer .container {
    padding: 20px;
}

footer .container .links {
    margin-bottom: 20px;
}

footer .container p {
    margin: 6px 0;
}

footer .copy-right {
    text-align: center;
    font-size: 16px;
    color: #eee;
    width: 100%;
    background-color: transparent;
}

.navbar-main {
    height: 70px;
    background-color: #fff !important;
    border-bottom: solid 1px var(--main-color);
}

.navbar-main .navbar-collapse {
    /* https://css-tricks.com/viewport-sized-typography/ */
    max-height: 100vh !important;
    overflow-x: hidden !important;
    background-color: transparent;
}

.navbar-main .navbar-toggler {
    padding: 3px 8px 2px 8px;
    background-color: var(--main-color);
}

.navbar-main .navbar-brand {
    /*main color*/
    color: var(--main-color) !important;
}

.navbar-main .navbar-toggler {
    border: solid 1px var(--main-color) !important;
    border-radius: 0px;
}

.navbar-main .navbar-toggler-icon {
    width: 22px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-main .nav-item .nav-link {
    color: #262626 !important;
    margin: 0 6px;
}

.navbar-main .nav-item .nav-link:hover {
    background-color: var(--main-color);
    color: #fff !important;
    border-radius: 3px;
}

.navbar-main .nav-item .nav-link.btn {
    color: #fff !important;
}

.navbar-main .nav-item .nav-link.nav-home {
    color: #ffdb87 !important;
}

.navbar-main .nav-item .nav-link.nav-home:hover {
    color: #ffce44 !important;
}

.navbar-main .nav-item.blank-item {
    color: transparent;
}

.navbar-brand span {
    vertical-align: middle;
    font-weight: bold;
}

.img-logo {
    height: 30px;
    vertical-align: middle;
    margin: 0 5px 0 10px;
    border-radius: 3px;
}

.img-park {
    width: 240px;
    margin: 0 auto;
}

/* font styles */
.font-sm {
    font-size: 16px;
}

.font-md {
    font-size: 18px;
}

.font-lg {
    font-size: 24px;
}

.font-loud {
    font-size: 36px;
}

.texti-main {
    color: var(--main-color);
}

.texti-error {
    color: #cc4444;
}

.texti-price {
    color: #555;
}

.texti-price,
.texti-price span {
    font-family: Quicksand, "Microsoft JhengHei";
    font-weight: bold;
    padding: 6px 0;
}

p.texti-plan0 {
    color: #555;
    font-size: 24px !important;
}

.texti-plan0,
p.texti-plan0 span {
    color: #282923;
    font-weight: bold;
}

.main-section h3.plan0 i {
    color: #00b900;
}

.form-control {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

/* preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
}

/* preloader status */
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('/img/preloader.gif');
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

.main-carousel .carousel-item img {
    width: 100%;
}

.main-carousel .carousel-caption {
    margin-bottom: 4vw;
}

.main-carousel .carousel-caption h2,
.main-carousel .carousel-caption h3 {
    text-shadow: 1px 1px #333;
}

.main-carousel .carousel-caption h2 {
    font-size: 3vw;
}

.main-carousel .carousel-caption h3 {
    font-size: 2vw;
}

.main-carousel .carousel-caption p {
    margin-bottom: 80px;
}

.overlay:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}

.section-id {
    padding: 5px 0;
}

/* custom jumbotron */
.jumbotron-section,
.jumbotron-lineme,
.jumbotron-facebook,
.jumbotron-dark {
    color: #fff;
    margin-top: 60px;
    padding: 30px 10px 20px 10px;
    text-align: center;
    font-weight: bold;
}

.jumbotron-section h2,
.jumbotron-lineme h2;
.jumbotron-facebook h2,
.jumbotron-dark h2 {
    font-size: 32px !important;
}

.jumbotron-section h2 span {
    color: #fff;
    font-size: 28px;
    padding: 20px 50px;
    border-radius: 3px;
    background: var(--main-color);
}

.jumbotron-section hr {
    margin-top: 30px;
    border-top: 2px solid #525252;
}

hr.section-start {
    border-top: 5px solid var(--main-color);
}

.jumbotron-section h2.contact span {
    background: #28a745;
}

.jumbotron-main {
    color: #f0cf0e;
    background-color: #311201;
}

.jumbotron-lineme {
    background-color: #01a201;
}

.jumbotron-dark {
    background-color: #282923;
}

.page-header {
    background-color: #311201;
    background: -webkit-linear-gradient(#311201, #8e5b3e);
    background: -o-linear-gradient(#311201, #8e5b3e);
    background: -moz-linear-gradient(#311201, #8e5b3e);
    background: linear-gradient(#311201, #8e5b3e);
}

/* jumbotron-section */
.jumbotron-section  {
    color: #202020;
    background-color: transparent;
}

.main-section {
    margin: 30px 0;
}

.main-section h2 {
    font-size: 32px;
}

.main-section h3 {
    font-size: 24px;
}

.main-section h3 span.badge {
    color: #fff;
    font-size: 28px;
    padding: 15px 20px;
    margin: 30px 0;
    border-radius: 0;
}

.main-section p {
    font-size: 20px;
    line-height: 36px;
}

.main-section h4 {
    font-size: 22px;
}

.main-section .card {
    border: 1px solid transparent;
}

.main-section .card p {
    margin: 20px 40px;
}

.main-section .container {
    padding-top: 20px !important;
}

.main-section .ans-body {
    margin: 40px 0;
    padding: 30px 5%;
    background-color: #f5f2ec;
}

.main-section .ans-body p {
    line-height: 32px;
}

.main-section p.caption {
    font-size: 24px;
}

.main-section img.img-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.main-section.news p i {
    font-size: 3em;
}

.main-section.news ol li {
    font-size: 18px;
    padding: 8px 0;
}

.main-section.news .piece {
    margin-bottom: 30px;
}

.main-section .card-header {
    background-color: #b25c32;
}

.main-section .card-header-icon-black,
.main-section .card-header-icon {
    padding: 20px 0;
}

.main-section .card-header-icon-black {
    color: black;
}

.main-section .card-header .btn {
    color: #ffdfd0;
    font-size: 20px;
}

.main-section .card-header .btn:hover,
.main-section .card-header .btn:focus {
    color: #fff;
    font-size: 24px;
    transition: all 600ms;
    text-decoration: none;
}

.main-section .list-group-item {
    font-size: 24px;
    padding: 8px;
}

.btn-block .btn {
    width: 100%;
}

.icon-class:hover {
    cursor: pointer;
}

.icon-text {
    font-size: 24px;
    font-family: "Days One", sans-serif,"Microsoft JhengHei";
    margin-bottom: 40px;
}

.accept-terms {
    margin: 30px 2px;
}

.card,
.card-heading{
    border-radius: 0px;
}

.form-control {
    color: #0069d9;
}

.card-signin {
    border-color: #5cb85c;
    margin-top: 100px;
}

.card-signin .card-header {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
    border-radius: 0;
    padding: 6px 0;
}
.card-signin .card-header h1 {
    margin: 0;
}

.card-header h1 {
    padding: 15px 0px;
    font-size: 32px;
}

.card-body h3 {
    font-size: 28px;
}

.text-error {
    color: #cc4444;
}

.card-plan {
    background: #fff;
    padding: 30px !important;
}

.card-plan .card-header-icon i {
    color: #fff;
    opacity: 0.9;
}

.card-plan .list-group .list-group-item {
    background-color: #fff;
    opacity: 0.8;
    border-color: transparent;
    border-width: 5px;
}

.bg-erpplan1 {
    background-color: var(--erp-color);
}

.bg-function {
    background-color: var(--vice-color);
}

.bg-services {
    background-color: var(--services-color);
}

.bg-clients {
    background-color: var(--clients-color);
}

.outline li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

@media (max-width:767px) {
    h1 {
        margin-bottom: -30px;
    }

    .navbar-main .navbar-brand {
        font-size: 24px;
    }

    .navbar-main .navbar-collapse {
        margin: 0px -30px;
        width: 100%;
        background-color: #fff;
    }
    .navbar-main .nav-item .nav-link {
        text-align: center;
        font-size: 24px;
        color: var(--main-color) !important;
        margin: 6px 40px 0px 40px;
    }

	.navbar-main .nav-item .nav-link:hover {
		color: #fff;
	}
    .navbar-main .nav-item .nav-link.btn {
        margin-top: 20px;
    }

    .navbar-main li.nav-item:first-child .nav-link.btn,
    .navbar-main li.nav-item:first-child .nav-link {
    	margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid var(--main-color);
    }

    .navbar-main li.nav-item:last-child .nav-link.btn,
    .navbar-main li.nav-item:last-child .nav-link {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--main-color);
        margin-bottom: 20px;
    }

    .main-carousel {
        margin-top: 60px;
    }

    .main-carousel .carousel-caption h2,
    .main-carousel .carousel-caption h3 {
        margin-bottom: 10px;
    }

    .main-carousel .carousel-caption h2 {
        font-size: 8vw;
    }

    .main-carousel .carousel-caption h3 {
        font-size: 6vw;
    }

    .main-carousel .carousel-caption p {
        margin-bottom: 10px;
    }

    .main-section p,
    .main-section li {
        font-size: 22px;
        line-height: 42px;
    }

    .list-group-item {
        font-size: 24px !important;
    }

    .outline li {
        font-size: 22px;
    }
}
